.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100%;
}

.example-large-box {
  height: 300px;
  width: 100%;
}

img.perfil {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.mat-tab-group p {
  margin: 0
}

.fa-spotify {
  font-size: 20px
}

.mat-stroked-button {
  border: 1px #1db954 solid;
  line-height: 40px;
  transition: 0.1s ease-in-out
}

.mat-stroked-button:hover {
  background: #1db954;
  color: white;
}


#tracks p {
  margin: 0
}
img {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
img:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

@media only screen and (max-width: 576px) {
  img.perfil{
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  h2 {
    font-size: 26px
  }
  p {
    font-size: 14px;
  }
}
