<div class="container">
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <div class="profile mb-5" *ngFor="let info of channelInfo?.items">
    <div class="row align-items-top">
      <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3">
        <img class="" src="{{info.snippet.thumbnails.high.url}}" alt="">
      </div>
      <div class="col-xl-9 col-lg-8 col-md-10 col-sm-9 col-9 mb-3">
        <h5>{{info.snippet.title}}</h5>
        <div class="row mt-1">
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Suscribers</mat-card-subtitle>
            <h4>{{info.statistics.subscriberCount}}</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Views</mat-card-subtitle>
            <h4>{{info.statistics.viewCount}}</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Videos</mat-card-subtitle>
            <h4>{{info.statistics.videoCount}}</h4>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-12 col-12  align-self-center">
        <a class="d-block" href="https://www.youtube.com/channel/UCd6nwuYzs-7Sdoi3ciBCNMg?sub_confirmation=1" target="_blank" mat-stroked-button
          color="warn">Suscribe</a>
      </div>
    </div>
  </div>
  <h2 class="mb-2">Recent videos</h2>
  <div>
    <div class="row">
      <div class="col-md-3 col-6 my-3" *ngFor="let video of videosInfo?.items">
        <div class="embed-responsive embed-responsive-16by9 shadow mb-2">
          <iframe class="embed-responsive-item" [src]="video.id.videoId | safeUrl:'https://www.youtube.com/embed/'"></iframe>
        </div>
        <small>{{video.snippet.title}}</small>
      </div>
    </div>
  </div>
</div>
