
<div class="container">
    <app-spinner *ngIf="showSpinner"></app-spinner>
  <div class="profile mb-5" *ngFor="let info of channelInfo?.items">
    <div class="row align-items-top">
      <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3">
        <img class="" src="{{info.snippet.thumbnails.high.url}}" alt="">
      </div>
      <div class="col-xl-11 col-lg-10 col-md-10 col-9">
        <h5>{{info.snippet.title}}</h5>
        <div class="row mt-1">
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Suscribers</mat-card-subtitle>
            <h4>{{info.statistics.subscriberCount}}</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Views</mat-card-subtitle>
            <h4>{{info.statistics.viewCount}}</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-4">
            <mat-card-subtitle>Videos</mat-card-subtitle>
            <h4>{{info.statistics.viewCount}}</h4>
          </div>
        </div>
      </div>
      <!--
        <div class="col-md-2 text-right">
            <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a> 
           <a href="" target="_blank"><i class="fab fa-instagram"></i></a>  
          <button mat-stroked-button (click)="addSubs()" color="warn">Suscribe</button>
        </div>
        -->
    </div>
  </div>
  <h2 class="mb-2">Recent videos</h2>
  <div>
    <div class="row">
      <div class="col-md-3 col-6 my-3" *ngFor="let video of videosInfo?.items">
        <div class="embed-responsive embed-responsive-16by9 shadow mb-2">
          <iframe class="embed-responsive-item" [src]="video.id.videoId | safeUrl:'https://www.youtube.com/embed/'"></iframe>
        </div>
        <small>{{video.snippet.title}}</small>
      </div>
    </div>
  </div>
</div>
